.backgroundMain {
    background-image: url("background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-with-logo {
    text-align: center;
  }

  .logo {
    width: 300px;
    padding: 10px 10px 10px 10px;
  }

  .logo:hover {
    animation: bounce 1s;
  }

  .navigation {
    overflow: hidden;
    background-color: black;
    font-family: Rubik;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .20em;
    text-transform: uppercase;
  }

  .navigation nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navigation nav .active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: solid;
    text-decoration-color: #ddd;
  }

  .navigation a:hover {
    background-color: #ddd;
    color: black;
  }

  main {
    min-height: calc(100vh - 370px);
  }

  .backgroundAboutMe {
    background-image: url("parMani.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .backgroundServices {
    background-image: url("pakalpojumi.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .backgroundPhotos {
    background-image: linear-gradient(to bottom, transparent, white), 
    url("fotoGalerija.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
  }

  .backgroundContacts {
    background-image: linear-gradient(to bottom, transparent, white),
    url("kontakti.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
  }

  .par-mani-pakalpojumi-fons {
    max-width: 600px;
    min-width: 480px;
    background: white;
    padding: 16px 16px;
    margin: auto;
    box-shadow: 0 3px 2px 1px #efefef;
    border-radius: 8px;
  }
  
  h1 {
    font-family: Rubik;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 14px;
    color: black;
  }

  h3 {
    font-family: Rubik;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 20px 50px;
    color: rgba(233, 132, 17, 0.932);
  }

  p {
    /* text-indent: 50px; */
    text-align: justify;
    font-family: Rubik;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 50px;
    color: black;
    margin-right: 50px;
    line-height: 1.6;
  }

  .pakalpojumi-poga {
    display: flex;
    justify-content: center;
  }

  .pakalpojumi-poga a {
    text-decoration: none;
    font-family: Rubik;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 11px 13px;
    color: black;
    border-radius: 8px;
  }

  .pakalpojumi-poga a:hover {
    background-color: black;
    color: white;
  }

  .main-gallery {
    max-width: 877px;
    min-width: 480px;
    min-height: 100px;
    padding: 16px 32px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-gallery img:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
  }

  .gallery-left > div {
    height: 200px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 0 16px 16px 0;
  }
    
  .gallery-middle > div {
    height: 200px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 0 16px 16px 0;
  }

  .gallery-right > div {
    height: 200px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 0 16px 16px 0;
  }

  .kontakti-fons {
    width: 500px;
    height: 150px;
    /* background: #ffffff; */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    /* background: rgba(0, 0, 0, 0.2); */
    background: rgba(82, 37, 206, 0.2);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .kontakti-teksts {
    font-family: "proxima-nova";
    line-height: 1.7em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: black;
    /* color: #ddd; */
  }

  .Google-map {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: rgba(0, 0, 0, 0.5); */
  }

  .google-map div {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  }

  footer {
    border-top: 1px solid #c4c4c4;
    width: 1000px;
    margin: auto;
  }

  .seko-mums {
    font-size: 17px;
    text-align: center;
    /* font-weight: bold; */
    margin-bottom: 5px;
  }

  .fb-icon-black:hover {
    transform: scale(1.08);
  }

  .instagram-icon-black:hover {
    transform: scale(1.08);
  }

  .footer-icons-left {
    margin-left: 10px;
  }
  
  .footer-icons-left img {
    width: 35px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .social-icons-center {
    display: flex;
    justify-content: center;
  }
  
  .social-icons-center img {
    width: 35px;
    padding: 5px;
    margin-bottom: 20px;
  }

  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

  


  